html{
	height: 100%;
}
body{
	background-color: #fff;
	height: 100%;
  font-family: 'Roboto',sans-serif;
}
.container{
    width: 100%;
}
.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 0px;
    margin: 0px;
    border: 0px;
    padding-top: 5px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;
    z-index: 9999;
}
.navbar-brand {
    
}
.jumbotron{
  text-align: center;
  margin-bottom: 0px;
  background: #fff;
  color: #0ea76e;
  padding-bottom: 15px;
  padding-top: 60px; 
  height: 100%;
  overflow: hidden;
  border-bottom: 1px solid;
  
}
.jumbotron > p{
  font-size: 18px;
  font-weight: 300;
  color: #656565;
}
.jumbotron h2{
   font-weight: 300; 
}
.jumbotron h4{
   padding:  15px; 
   font-weight: 300; 
}
.iphone-img{
    position: relative;
    width: 350px;
    margin: 30px auto;
}
.iphone-img > video{
    position: absolute;
    left: 52px;
    top: 65px;
    width: 235px;
    border: 2px solid #ccc;
}
.component-title{
  font-weight: 400;

}
.component-title > span{
  font-size: 50%;
}
iframe{
	width: 100%;
	height: 100%;
}
.nav-pills > li{
  display: inline-block !important;
  float: inherit;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
  background: none;
  color: #a9a9a9;
}
.nav > li > a:hover, .nav > li > a:focus{
  text-decoration: underline;
  background: none;
}
.nav-pills > li > a{
  font-weight: 300;
  padding: 10px 10px;
}
.datepicker-container{
  padding: 0px 15px;
}
@media (min-width: 768px){
    .component-title{ 
      margin-top: 13px;
    }
    .nav-pills > li > a{
      padding: 10px 15px;
    }
    .datepicker-container {
        padding: 80px 15px;
    }
    .bt-group{
          padding: 10px 0px;
    }
    .iphone-img > video{
    position: absolute;
    left: 52px;
    top: 65px;
    width: 235px;
    border: 2px solid #ccc;
}
.bt-group .btn{
  width:150px;
}
.bt-group .btn > .fa{
    margin-right: 10px;
}
.jumbotron{
    max-height: 80%;
    min-height: 500px;
    margin-bottom: 10px;
}
}

.ad-section{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.architecture figure, .flowchart figure{
    text-align: center;
}
.architecture img, .flowchart img{
    margin: 0px auto;
}
.flowchart figure img{
    width: 40%;
}
.page-header{
    text-align: center;
    margin: 60px 0 20px;
}
.documentation-container{
    padding-top: 50px;
}
.documentation-container .page-header{
    text-align: left;
}
.left-section{
    padding-left: 0px;
}
.left-section .bs-docs-sidebar{
    background: #fff;
    margin-top: 15px;
}
.right-section{
    background: #fff;
    margin-top: 15px;
    padding: 25px;
    padding-top: 0px;
}
.right-section .row{
    margin: 0px;
}
footer{
    text-align: center;
}
.navbar-brand img{
    float: left;
    width: 26px;
    margin-top: -3px;
    margin-right: 5px;
}
@media (min-width: 768px){
    .navbar-brand{
        margin-left: 30px !important;
    }
}
.component-details{
    background: #fff;
}
pre code{
    padding:10px;
}
handy-syntax-highlighter{
    display: inline-block;
    width: 100%;
}
.code-list-ul{
    list-style: none;
}
.guiding-overlay{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #333;
    background: rgba(0, 0, 0, 0.84);
    z-index: 2;
}
.message-content{
    position: relative;
    top: 150px;
    color: #fff;
    font-weight: 300;
    width: 300px;
    border: 2px solid #fff;
    padding: 15px;
    margin: 0px auto;
    text-align: center;
}
.message-content h3{
    font-weight: 300;
    line-height: 32px;
}
.message-content .btn{
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 0px;
}