  <nav class="navbar navbar-expand-md top-navbar d-print-none navbar-default">
    <div class="container">
      <cuppa-slidemenu [menulist]="menuItemsArray" [config]="menuConfig" (open)="onMenuOpen()" (close)="onMenuClose()" (onItemSelect)="onItemSelect($event)"></cuppa-slidemenu>
      <a class="navbar-brand" href="/">
      
          <img src="https://cuppalabs.github.io/img/cuppa-logo-coffee11.png" height="32" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-navicon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">

        <ul class="navbar-nav flex-row">
          <li class="nav-item">
            <a class="nav-item nav-link disabled" href="#">
                Slide in Menu Examples
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="https://cuppalabs.github.io/components/slidemenu/">
                Documentation
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="https://github.com/CuppaLabs/cuppa-ng2-slidemenu">
               Github
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="http://cuppalabs.github.io/aboutme">About Me</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron">
          <h1 class="display-3" style="text-align:center">Angular 2 Slide in Menu</h1>
          <h2 class="lead" style="text-align:center">Demo and Example</h2>
          <p style="text-align:center;width: 100%;max-width: 100%;">Click on the hamburger icon on the top left corner</p>
          <div class="iphone-img">
        <img src="assets/img/iphone-empty.png" style="width: 100%;">
        <video autoplay="" loop="" src="assets/img/demo4.webm" type="video/webm"></video>
        </div>
        </div>