<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
         <cuppa-slidemenu [menulist]="menuItemsArray" (open)="onMenuOpen()" (close)="onMenuClose()" (onItemSelect)="onItemSelect($event)"></cuppa-slidemenu>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://cuppalabs.github.io/cuppa-angular2-slidemenu/">
          <img alt="Brand" src="assets/img/cuppa-logo.png">
          Cuppa Slide Menu</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#Getting_Started_12">Getting Started<span class="sr-only">(current)</span></a></li>
              <li><a href="#Getting_Started_12">Installation</a></li>
              <li><a href="#Installation_14">Usage</a></li>
              <li><a href="https://github.com/CuppaLabs/cuppa-angular2-slidemenu">Github</a></li>

            </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <div class="jumbotron col-md-12">
      <div class="col-md-6">
        <img style="width:18%;" src="assets/img/angular-logo.png">
        <h1 class="component-title">Cuppa Slide Menu</h1>
        <h2>Angular 2 slide out navigation menu for web and mobile</h2>
        <h4>Click on hamburger menu on top left  corner</h4>

        <p class="bt-group">
            <a href="https://github.com/CuppaLabs/cuppa-angular2-slidemenu" target="_blank" type="button" class="btn btn-danger btn-lg"><i class="fa fa-github" aria-hidden="true"></i><span class="hidden-xs">Github</span></a>
            <a href="#" type="button" class="btn btn-danger btn-lg"><i class="fa fa-tv" aria-hidden="true"></i><span class="hidden-xs">Demo</span></a>
            <a href="https://github.com/CuppaLabs/cuppa-angular2-slidemenu/archive/master.zip" type="button" class="btn btn-danger btn-lg"><i class="fa fa-download" aria-hidden="true"></i><span class="hidden-xs"> Download </span></a>
        </p>
      </div>
      <div class="col-md-6">
        <div class="iphone-img">
        <img style="width: 71%;" src="assets/img/iphone-empty.png">
        <video type="video/webm" loop="" autoplay="" src="assets/img/demo4.webm"></video>
        </div>
      </div>
    </div>
    
    <div class="col-md-8 col-md-offset-2 component-details">

    <div id="preview" preview="" debounce="150">
        <h2><a id="Getting_Started_12"></a>Getting Started</h2>
        <h3><a id="Installation_14"></a>Installation</h3>
        <ol>
        <li>
        <p>The Slide menu package is published on the <a href="https://www.npmjs.com/package/cuppa-ng2-slidemenu">npm</a> Registry.</p>
        </li>
        <li>
        <p>Install the package :<br>
         <handy-syntax-highlighter  [language]="'markup'" [content]="npminstallScript"></handy-syntax-highlighter>
        </li>
        <li>
        <p>Once installed import <code>SlideMenuModule</code> from the installed package into your module as follows:</p>
        </li>
        <li style="list-style-type: none">
            <handy-syntax-highlighter  [language]="'typescript'" [content]="installScript"></handy-syntax-highlighter>
        </li>
        </ol>
        <h3><a id="Installation_14"></a>Usage</h3>
        <ol>
        <li>Import the <code>SlideMenuModule</code> in your <code>ngModule</code> as follows:</li>
        <li style="list-style-type: none">
            <handy-syntax-highlighter  [language]="'typescript'" [content]="moduleScript"></handy-syntax-highlighter>
        </li>
        <li value=2>Place the component html tag in the template where the hamburger menu needs to be rendered.</li>
        <li style="list-style-type: none">
            <handy-syntax-highlighter  [language]="'html'" [content]="htmlTag"></handy-syntax-highlighter>
        </li>
        <li value="3">
            Component requires a <code>menulist</code> to pass data as array of objects to the component, as follows:
        </li>
        <li style="list-style-type: none">
             <handy-syntax-highlighter  [language]="'typescript'" [content]="jsScript"></handy-syntax-highlighter>
        </li>
        </ol>
        <p>Thats all Folks !! You are good to go.</p>
        <h3>For Demo, click on hamburger on top left corner of the page</h3>
        <p>Please raise any issues <a href="https://github.com/CuppaLabs/cuppa-angular2-slidemenu/issues">here</a></p>
        <p>To run the code and build in your local, follw the below steps</p>
        <ul>
        <li>git clone <code>https://github.com/CuppaLabs/angular2-dataGrid.git</code></li>
        <li>npm install</li>
        <li>npm start</li>
        <li>Go to <code>http://localhost:3000</code> where your app will run.</li>
        </ul>
        <h2><a id="Licence_79"></a>Licence</h2>
        <p>This project is licensed under the MIT license. See the <a href="LICENSE">LICENSE</a> file for more info.</p>
        <h2><a id="Author_106"></a>Author</h2>
        <p>Pradeep Kumar Terli  @ <a href="http://www.cuppalabs.com">Cuppa Labs</a></p>
        </div>

    </div>