$animation-time: .3s;
$transition-type: cubic-bezier(0.215, 0.610, 0.355, 1.000);
.menu-container{
    width: 250px;
    height: 100%;
    position: fixed;
    background: #fff;
    top: 60px;
    bottom: 0;
    left: 0;
    transition: all $animation-time $transition-type;
    border-right: 1px solid #ccc;
    font-family:'Arial',sans-serif;
    overflow: auto;
    height: calc(100% - 60px);
    z-index: 9999999;
    box-shadow: 0px 5px 2px #ccc;
}
.menu-container .show-menu{
    left: 0;
}
.menu-container.hide-menu{
    left: -250px;
}
.menu-open{
    margin-left: 250px !important;
}
.cuppa-menu ul{
    list-style: none;
    padding: 0px;
}
.cuppa-menu ul > li{

}
.sub-menu > li > a{
    padding-left: 50px !important;
}
.cuppa-menu ul > li > a{
    display: block;
    padding: 15px 30px;
    background: #fff;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}
.cuppa-menu ul > li > a:hover{
    background: #3fd48f !important;
    color: #fff;
}
.cuppa-menu ul > li > a > i{
    font-size: 24px;
    float: right;
    margin-top: -2px;
    pointer-events: none;
}
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
/*.hamburger {
  float: left;
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  height: 26px;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }
.hamburger:focus{
    outline: none;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 2px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-9px, 0, 0) rotate(-45deg) scale(0.7, 1); }

.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-9px, 0, 0) rotate(45deg) scale(0.7, 1); }

.hamburger--arrow-r.is-active .hamburger-inner::before {
  transform: translate3d(9px, 0, 0) rotate(45deg) scale(0.7, 1); }

.hamburger--arrow-r.is-active .hamburger-inner::after {
  transform: translate3d(9px, 0, 0) rotate(-45deg) scale(0.7, 1); }*/
.cuppa-menu-overlay{
    position: fixed;
    background: #000;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    display: none;
    transition: all 1s linear;
}
.show-overlay{
    display: block;
}
.hide-overlay{
    display: none;
}
/* Hamburger Styles */

.hamburger {
  font-size: 50px;
  float:left;
  display: inline-block;
  width: 40px;
  height: 24px;
  padding: 0;
  margin-top: 12px;
  margin-left: 15px;
  cursor: pointer;
  transition: transform .2s ease-in-out;
  -moz-transition: transform .2s ease-in-out;
  -webkit-transition: transform .2s ease-in-out;
  vertical-align: middle;
  border: 0 none;
  background: transparent;
}
.hamburger::-moz-focus-inner {
  padding: 0;
  border: 0 none;
}
.hamburger:focus {
  outline: 0;
}
.hamburger:before,
.hamburger:after {
  content: "";
}
.hamburger:before,
.hamburger .icon,
.hamburger:after {
  display: block;
  width: 100%;
  height: 4px;
  margin: 0 0 8px;
  transition: transform .2s ease-in-out;
  -moz-transition: transform .2s ease-in-out;
  -webkit-transition: transform .2s ease-in-out;
  border-radius: .25em;
  -moz-border-radius: 25em;
  -webkit-border-radius: .25em;
  background: #000;
}
.hamburger.is-active:before,
.hamburger.is-active .icon,
.hamburger.is-active:after {
  background: #000;
}
.hamburger.hamburger-arrow-left.is-active {
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.hamburger.hamburger-arrow-left.is-active:before {
  width: 23px;
  transform: translateX(.4em) translateY(.2em) rotate(45deg);
  -moz-transform: translateX(.4em) translateY(.2em) rotate(45deg);
  -webkit-transform: translateX(19px) translateY(4px) rotate(45deg);
}
.hamburger.hamburger-arrow-left.is-active:after {
  width: 23px;
  transform: translateX(.4em) translateY(-.2em) rotate(-45deg);
  -moz-transform: translateX(.4em) translateY(-.2em) rotate(-45deg);
  -webkit-transform: translateX(19px) translateY(-4px) rotate(-45deg);
}
